*, *::before, *::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

.header__nav-mobile,
.header__menu-close,
.menu-burger  {
    display: none;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../fonts/MuseoSansCyrl-700.eot');
    src: local('MuseoSansCyrl-700'),
    url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-size: 62.5%; /* 16px => 10px */
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

.container { /* like wrapper */
    width: 113.5rem; /* 1rem = 10px */
    margin: 0 auto;
}

.header {
    position: absolute;
    padding-bottom: 6.4rem;
    left: 50%;
    top: 6.4rem;
    transform: translate(-50%, 0);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__logo {
    width: 7.9rem;
    height: 2.8rem;
    margin-right: 3.9rem;
}

/*.header__nav a:not(:last-child) {*/
/*    margin-left: 2.4rem;*/
/*}*/

.header__nav a:not(:first-child){
    margin-left: 2.4rem;
    /*color: red;*/
}

.header__nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 114%; /* 1.14 */
}

.header__social {
    display: flex;
}

.header__social a {
    text-decoration: none;
}

.header__social-icon {
    width: 1.7rem;
    height: 1.6rem;
}

.header__social-icon:not(:last-child) {
    margin-right: 2rem;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

.main {
    padding-top: 18.7rem;
    padding-bottom: 10.4rem;
    /*background: url("../img/background.jpg");*/
    /*background: no-repeat;*/
    /*background-size: cover;*/
    /*background-position-x: center;*/
    /*background-position-y: top;*/
}

.main__rating-title {
    font-size: 1.4rem;
    line-height: 114%;
    margin-bottom: 1.6rem;
}

.main__rating-wrap {
    display: flex;
    align-items: center;
}

.main__rating-stars {
    display: flex;
    align-items: center;
    margin-right: .9rem;
    margin-bottom: 1.6rem;
}

.main__rating-star {
    width: 1.2rem;
    height: 1.2rem;
    flex-shrink: 0;
    cursor: pointer;
}

.swiper {
    width: 35.6rem;
}

.main-slider__wrap {
    max-width: 41.5rem;
    display: flex;
    align-items: center;
}

.main-slider__arrow {
    width: 3.2rem;
    height: 2.2rem;
    margin-left: 2.8rem;
    flex-shrink: 0;
    cursor: pointer;
}

.main-slider__slide {
    position: relative;
    width: 16.4rem;
    height: 10.5rem;
    border-radius: .8rem;
    overflow: hidden;
}

.main-slider__slide span {
    position: absolute;
    left: 1.2rem;
    bottom: .6rem;
    transform: translate(0, 0);
    font-size: 1rem;
    font-weight: 120;
}

.main-slider__wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__rating-star:not(:last-child) {
    margin-right: .4rem;
}

.main__description-wrap {
    display: flex;
    align-items: center;
}

.main__description {
    max-width: 52.8rem;
    font-size: 1.4rem;
    line-height: 150%;
    margin-bottom: 4.1rem;
}

.main__button-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.2rem;
    height: 13.2rem;
    margin-left: 33.1rem;
    border-radius: 50%;
    background: #391917;
    cursor: pointer;
}

.main__button-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #151515;
}

.main__button-dark img {
    width: 3.5rem;
    height: 4rem;
}

.main__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 114%;
    color: #ffffff;
    text-decoration: none;
    max-width: 24.5rem;
    padding: 2.2rem 7.2rem;
    background-color: #151515;
    border-radius: .8rem;
    margin-bottom: 8.8rem;
}

.main__rating-number {
    padding-left: .9rem;
    font-size: 1.2rem;
    line-height: 117%;
}

.main__header {
    font-family: 'Museo Sans';
    font-size: 7.6rem;
    line-height: 120% /* f-size/l-height */;
}

.footer {
    background: #030102;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    opacity: 40%;
    font-size: 1.4rem;
    line-height: 143%;
}

.footer__menu {
    display: flex;
    padding-left: 0;
    color: #ffffff;
}

.footer__menu li {
    list-style: none;
}

.footer__menu li a {
    color: #ffffff;
    opacity: 40%;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 143%;

}

.footer__menu li:not(:last-child) {
    margin-right: 2.5rem;
}

/*@media (max-width: 375px) and (max-height: 900px) {*/

/*}*/

@media screen and (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media screen and (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media screen and (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media screen and (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media screen and (max-width: 80em) {
    html {
        font-size: 7.2px;
    }
}

@media screen and (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media screen and (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media screen and (max-width: 48em) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 34em) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media screen and (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media screen and (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3rem 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.modal__inner {
    width: 150rem;
    height: 80rem;
}

.active {
    display: flex;
}

/* MOBILE */

@media screen and (max-width: 48em) {
    .bc {
        height: 200rem;
    }
    html {
        font-size: 10px;
    }
    .container {
        width: 100%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .header {
        width: 69.4%;
        background-color: #151515;
        top: 0;
        transform: translate(-28%, 0);
        padding-bottom: 4rem;
        padding-top: 2.7rem;
        z-index: 10;
        display: none;
    }
    .header__logo {
        margin-right: 0;
        margin-bottom: 3.5rem;
    }
    .header__social {
        margin-bottom: 2.2rem;
    }
    .header .container,
    .header__nav,
    .header__menu {
        display: flex;
        flex-direction: column;
    }
    .header__nav {
        display: none;
    }
    .header__nav-mobile {
        display: flex;
        flex-direction: column;
    }
    .header__nav-mobile a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 114%;
    }
    .header__nav-mobile a {
        display: inline-block;
        margin: 0 auto; /* sd */
    }
    .header__nav-mobile a:not(:last-child) {
        margin-bottom: 1.7rem;
    }
    .header__nav a:not(:first-child){
        margin-left: 0;
    }
    /*.main__button-play {*/
    /*    display: none;*/
    /*}*/
    .header__menu-close {
        display: inline; /* inline */
        position: absolute;
        right: 4rem;
        top: 4rem;
        width: 2.3rem;
        height: 2.3rem;
    }
    .menu-burger {
        display: inline; /* inline */
        position: absolute;
        right: 5%;
        top: 0%;
        width: 8rem;
        height: 8rem;
    }
    body {
        background-position-x: 65%;
    }
    .main__button-dark {
        flex-direction: column;
    }
    .main__description-wrap {
         flex-direction: column;
         margin-bottom: 5rem;
     }
    .main__button-play {
        margin-left: 0;
    }
    .main__button {
        margin-bottom: 4.4rem;
    }
    .main-slider__arrow {
        display: none;
    }
    .main-slider__wrap {
        max-width: 53.5%;
    }
    .footer .container {
        align-items: flex-start;
        flex-direction: column;
    }

    .modal {
        padding: 3rem;
    }

    .modal__inner {
        width: 100%;
        height: 60%;
    }
}